* {
  margin: 0;
  padding: 0;
}

/* HOME STYLES */
.card-wrap{
  width: 40%;
  height: 80vh;
  margin-left: 30%;
  margin-top: 3%;
}
.unique-tab{
  width: 100%!important;
}
.inner-card{
  max-width: 395px;
  height: 25vh;
  margin: 0 auto;
}